{%- capture mobile_size -%}
    750x
    {%- if section.settings.image.height >= 960 -%}
        960
    {%- else -%}
        {{ section.settings.image.height }}
    {%- endif -%}
{%- endcapture -%}

{% assign header_font = section.settings.header_font %}

<div class="flex flex-col items-center justify-center min-h-[600px]">
    <div class="w-full absolute inset-0 h-full">
        <div class="before:absolute before:inset-0 before:w-full before:h-full before:bg-[color:var(--overlay)] block" {%- if section.settings.image -%}data-bgset="{{ section.settings.image | image_url: mobile_size, crop: 'center' }} 750w, {{ section.settings.image | img_url: '1000x' }} 1000w, {{ section.settings.image | img_url: '1500x' }} 1500w"{%- endif -%}>
            <noscript>
                <div class="ImageHero__Image" style="background-image: url({{ section.settings.image | img_url: '1000x' }})"></div>
            </noscript>
        </div>


        {%- unless section.settings.image != blank -%}
            <div class="absolute inset-0 z-[-1]">
                {{ "lifestyle-1" | placeholder_svg_tag: "h-full w-full" }}
            </div>
        {%- endunless -%}

		{%- if section.settings.image -%}
			<img class="relative" style="z-index: -1; max-height:100%;" src="{{ section.settings.image | image_url }}" width="100%" height="100%" loading="lazy" />
		{%- endif -%}
    </div>

    {%- if section.settings.subheading != blank or section.settings.title != blank or section.settings.content != blank -%}

        {%- if section.settings.subheading != blank or section.settings.title != blank -%}
            <header class="text-center space-y-6 z-10" style="text-shadow: 0 1px rgba(0,0,0,.5);">
                {%- if section.settings.subheading != blank -%}
                    <h3 class="uppercase text-2xl tracking-wider text-[color:var(--coco)] font-medium">{{ section.settings.subheading | escape }}</h3>
                {%- endif -%}

                {%- if section.settings.title != blank -%}
                    <h2 class="text-5xl text-[color:var(--coco)] font-medium tracking-widest uppercase" style="font-family: {{ header_font.family | replace: '"', "'" }};{% if section.settings.text_size != '' %}font-size: {{ section.settings.text_size | append: 'px' }};{% endif %}">{{ section.settings.title | escape }}</h2>
                {%- endif -%}

                {%- if section.settings.content != blank -%}
                    <div class="text-2xl text-[color:var(--coco)]" {% if section.settings.text_size_text != '' %}style="font-size: {{ section.settings.text_size_text | append: 'px' }};"{% endif %}>
                        {{ section.settings.content }}
                    </div>
                {%- endif -%}
            </header>
        {%- endif -%}

    {%- endif -%}
</div>
{%- assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.0 -%}
{%- style -%}
    :root  {
        --coco: {{ section.settings.text_color }}
        ;
        --overlay: {{ section.settings.overlay_color | color_modify: 'alpha', overlay_opacity }}
        ;
    }
	{{ header_font | font_face }}
{%- endstyle -%}

{%- schema -%}
    {
        "name": "Image with text overlay",
        "tag": "section",
        "class": "relative",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image",
                "info": "Min height 600px recommended"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text",
                "default": "#ffffff"
            },
            {
                "type": "color",
                "id": "overlay_color",
                "label": "Overlay",
                "default": "#000000"
            },
            {
                "type": "range",
                "id": "overlay_opacity",
                "label": "Overlay opacity",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "default": 30
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Sub-heading"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Tell your story"
            },
			{
				"type": "text",
				"id": "text_size",
				"default": "12",
				"label": "Text size in pixels (px). Leave blank to use theme settings."
			},
			{
				"type": "font_picker",
				"id": "header_font",
				"label": "Font",
				"default": "work_sans_n6"
			},
            {
                "type": "richtext",
                "id": "content",
                "label": "Text",
                "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
            },
			{
				"type": "text",
				"id": "text_size_text",
				"default": "12",
				"label": "Text size in pixels (px). Leave blank to use theme settings."
			}
        ],
        "presets": [
            {
                "category": "Image",
                "name": "Image with text (overlay)",
                "settings": {}
            }
        ]
    }
{% endschema %}
