{%- if section.settings.bg_color == "rgba(0,0,0,0)" or section.settings.bg_color == settings.color_bg -%}
    {%- assign section_bg = false -%}
{%- else -%}
    {%- assign section_bg = true -%}{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- if section.blocks.size > 0 -%}
	<div class="color-{{ section.settings.color_scheme }} isolate gradient">
  		<div class="page-width section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}">

			{%- if section.settings.title != blank -%}
				<div class="collection__title title-wrapper title-wrapper--no-top-margin page-width">
					<h2 class="title {{ section.settings.heading_size }}" style="text-align: {{ section.settings.heading_pos }}">{{ section.settings.title | escape }}</h2>
				</div>
			{%- endif -%}

            {%- case section.settings.style_desktop -%}
                {%- when "carousel" -%}
                {%- assign carousel = true -%}
                {%- when "grid" -%}
                {%- assign carousel = false -%}
            {%- endcase -%}

            {%- case section.settings.style_mobile -%}
                {%- when "carousel" -%}
                {%- assign mobile_carousel = true -%}
                {%- when "grid" -%}
                {%- assign mobile_carousel = false -%}
            {%- endcase -%}

            {%- if carousel or mobile_carousel -%}
                <style>
                    .home-logo-list-carousel--loading .home-logo-list__item:not(:first-of-type) {
                        display: nonez;
                    }
                </style>
                <noscript>
                    <style>
                        .home-logo-list-carousel--loading .home-logo-list__item:not(:first-of-type) {
                            display: initial;
                        }
                    </style>
                </noscript>
            {%- endif -%}

			<div class="flex flex-wrap justify-center space-x-3 md:space-x-10" id="logo-list">
				{% for block in section.blocks %}
					<div class="w-full max-w-xs" {{ block.shopify_attributes }}>
						{% unless block.settings.link == blank %}
						<a href="{{ block.settings.link }}">
						{% endunless %}

							{% if block.settings.image != blank %}
								<img
									class="aspect-square object-cover"
									src="{{ block.settings.image | img_url: '400x' }}"
									width="400"
									height="{{ 400 | divided_by: block.settings.image.aspect_ratio | round }}"
									alt="{{ block.settings.image.alt | escape }}"
									loading="lazy"
								/>
							{% else %}
							<div class="home-logo-list__placeholder__wrapper">
								{{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--light' }}
							</div>
							{% endif %}

						{% unless block.settings.link == blank %}
						</a>
						{% endunless %}
					</div>
				{% endfor %}
            </div>
    </div>
</div>
{%- endif -%}
{% if section.settings.auto_scroll %}
<script>
	document.addEventListener ('DOMContentLoaded', () => {
		$ ('#logo-list').slick ({
			speed: 5000,
			autoplay: true,
			autoplaySpeed: 0,
			centerMode: true,
			cssEase: 'linear',
			slidesToShow: 1,
			slidesToScroll: 1,
			variableWidth: true,
			infinite: true,
			initialSlide: 1,
			arrows: false,
			buttons: false
		});
	});
    </script>
{% endif%}

{%- schema -%}
    {
        "name": "Logo list",
        "class": "section",
		"tag": "section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Logo list"
            },
			{
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
	{
      "type": "select",
      "id": "heading_pos",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Heading alignment"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
	{
		"type": "checkbox",
		"id": "auto_scroll",
		"label": "Enable auto-scroll",
		"default": false,
		"info": "Enable infinite auto scroll/marquee"
	},
 			{
				"type": "header",
				"content": "Section padding"
			},
			{
				"type": "range",
				"id": "padding_top",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "Top padding",
				"default": 36
			},
			{
				"type": "range",
				"id": "padding_bottom",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "Bottom padding",
				"default": 36
			}
        ],
        "blocks": [
            {
                "type": "image",
                "name": "Logo",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Logo list",
                "blocks": [
                    {
                        "type": "image"
                    },
                    {
                        "type": "image"
                    },
                    {
                        "type": "image"
                    },
                    {
                        "type": "image"
                    }
                ]
            }
        ]
    }
{% endschema %}
