<div data-section-id="{{ section.id }}" class="dark:bg-slate-600 dark:text-slate-300 py-20">
    <div id="_x">
        {%- for block in section.blocks -%}
            <div class="w-full text-center">
                {%- if block.settings.quote != blank -%}
					<div class="inline-flex gap-x-1 ml-10">
						{% for i in (1..block.settings.stars) %}
							<span>
								{% render 'icon-star' %}
							</span>
						{% endfor %}
					</div>

                    <div class="text-2xl">
                        {{ block.settings.quote }}
                    </div>
                {%- endif -%}

                {%- if block.settings.logo != blank -%}
                    <img
                        alt="{{ block.settings.logo.alt | escape }}"
                        class="Testimonial__Logo hidden-lap-and-up mt-5 mx-auto"
                        height="{{ block.settings.logo.height }}"
                        loading="lazy"
                        src="{{ block.settings.logo | image_url: '300x' }}"
                        width="{{ block.settings.logo.width }}">
                {%- endif -%}

				{%- if block.settings.name != blank  -%}
					<footer class="text-center max-w-sm mx-auto">
						<span class="italic">&mdash; {{ block.settings.name }}</span>
					</footer>
				{% endif %}
            </div>
        {%- endfor -%}
    </div>
</div>

<style>
    #shopify-section-{{ section.id }}{
        color: {{ section.settings.text_color }};
        background: {{ section.settings.background }};
    }
</style>

{%- javascript -%}
    document.addEventListener ('DOMContentLoaded', () => {
        $ ('#_x').slick ({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
            adaptiveHeight: true,
            arrows: false
        });
    });
{% endjavascript %}
{%- schema -%}
    {
        "name": "Testimonials",
        "class": "section",
        "tag": "section",
        "max_blocks": 6,
        "settings": [
            {
                "type": "checkbox",
                "id": "autoplay",
                "label": "Auto rotate between testimonials",
                "default": true
            },
            {
                "type": "range",
                "id": "cycle_speed",
                "min": 3,
                "max": 8,
                "step": 1,
                "unit": "sec",
                "label": "Change testimonials every",
                "default": 5
            },
            {
                "type": "color",
                "id": "background",
                "label": "Background",
                "default": "#eaeaea"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text",
                "default": "#1c1b1b"
            }
        ],
        "blocks": [
            {
                "type": "testimonial",
                "name": "Testimonial",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "logo",
                        "label": "Logo",
                        "info": "340 x 80px .jpg recommended"
                    },
                    {
                        "type": "richtext",
                        "id": "quote",
                        "label": "Quote",
                        "default": "<p>Share what your customers are saying about your products, your company...</p>",
                        "info": "For best results, keep the word count consistent in each quote."
                    },
                    {
                        "type": "text",
                        "id": "name",
                        "label": "Name",
                        "default": "John"
                    },
					{
						"type": "range",
						"id": "stars",
						"label": "Star Rating",
						"min": 1,
						"max": 5,
						"default": 4,
						"step": 1,
						"info": "Drag slider to show rating from 1 to 5."
					}

                ]
            }
        ],
        "presets": [
            {
                "category": "Text",
                "name": "Testimonials",
                "settings": {},
                "blocks": [
                    {
                        "type": "testimonial",
                        "settings": {}
                    },
                    {
                        "type": "testimonial",
                        "settings": {}
                    },
                    {
                        "type": "testimonial",
                        "settings": {}
                    }
                ]
            }
        ]
    }
{% endschema %}
